| <section>
|   <div class="banner-container-top">
|     <p class="font-bold">BANNER</p>
|   </div>
|   <p class="categoria-text">
|     Início > Notícias >
|     <span class="text-orange">ANP Aprova edital de...</span>
|   </p>
|   <div class="layout-container">
|     <div class="lg:pr-15">
|       <div class="generic-container">
|         <h1 class="mobile-title">
|           ANP aprova edital de Oferta Permanente de 11 blocos de pré-sal
|         </h1>
|         <div class="my-8 flex justify-between items-center">
|           <p class="text-base font-bold text-orange">CMS</p>
|           <div class="flex">
|             <img
|               src="assets/img/noticia-pagina/icons/clock.svg"
|               class="w-8 h-9"
|               alt=""
|               srcset=""
|             />
|             <p class="sm:text-base ml-4 text-darkGrey text-min">
|               03/05/22 09:07 - 03/05/2022 10:00
|             </p>
|           </div>
|         </div>
|         <img
|           class="lg:h-150 md:h-200 sm:h-150 h-108 w-full object-cover"
|           src="assets/img/noticia-pagina/noticia/noticia.jpg"
|           alt="foto da ANP"
|         />
|         <div id="texto-container" class="my-8 relative h-130 overflow-y-hidden">
|           <p class="texto-noticia">
|             A diretoria da Agência Nacional do Petróleo, Gás Natural e
|             Biocombustíveis (ANP) aprovou, na sexta-feira (29), em circuito
|             deliberativo, o edital e os modelos dos contratos da Oferta
|             Permanente de Partilha da Produção (OPP), em que serão licitados 11
|             blocos localizados no polígono do Pré-sal. Os documentos, que
|             passaram por consulta e audiência públicas, já foram encaminhados
|             para aprovação pelo Ministério de Minas e Energia (MME) e, em
|             seguida, serão submetidos à apreciação do Tribunal de Contas da
|             União (TCU). <br /><br />
|             <a href="#" class="text-sky-500 font-bold cursor-pointer">
|               Quer melhorar sua estratégia para investir? Converse com um
|               especialista da Wise Investimentos.
|             </a>
|             <br /><br />
|             Quer melhorar sua estratégia para investir? Converse com um
|             especialista da Wise Investimentos. <br /><br />
|             Dos 11 blocos em oferta, Ágata, Água Marinha, Esmeralda, Jade,
|             Turmalina e Tupinambá, na Bacia de Santos, estavam previstos para
|             serem ofertados na 7 e 8 rodadas de partilha de produção. Os demais
|             não receberam ofertas em rodadas de licitação de partilha da
|             produção realizadas anteriormente pela ANP: Itaimbezinho (4 Rodada
|             de Partilha, Bacia de Campos), Norte de Brava (6 Rodada de Partilha,
|             Bacia de Campos), Bumerangue, Cruzeiro do Sul e Sudoeste de
|             Sagitário (6 Rodada de Partilha, Bacia de Santos). <br /><br />
|             Em fevereiro, a Petrobras manifestou, ao Conselho Nacional de
|             Política Energética (CNPE), o interesse no direito de preferência em
|             blocos a serem licitados no Sistema de Oferta Permanente, sob o
|             regime de partilha de produção. A empresa exerceu o direito de
|             preferência em relação aos blocos de Água Marinha e Norte de Brava,
|             com percentual de 30%, considerando os parâmetros divulgados na
|             Resolução do CNPE n 26/2021.
|             <br />
|           </p>
|           <div class="mx-auto sm:h-150 h-100 banner-container">
|             <p class="font-bold">BANNER</p>
|           </div>
|           <p class="texto-noticia">
|             <br />
|             A Oferta Permanente é, originalmente, um formato de licitação de
|             outorga de contratos de exploração e produção de blocos
|             exploratórios e de áreas com acumulações marginais para exploração
|             ou reabilitação e produção de petróleo e gás natural. Nesse formato,
|             há a oferta contínua de blocos exploratórios e áreas com acumulações
|             marginais localizados em quaisquer bacias terrestres ou marítimas.
|             <br /><br />
|             Até dezembro de 2021, a Oferta Permanente era realizada
|             exclusivamente em regime de contratação por concessão, não
|             contemplando a possibilidade de inclusão de áreas do pré-sal,
|             tampouco aquelas consideradas áreas estratégicas, nos moldes da Lei
|             n 12.351/2010, e cujo regime legal de contratação é o de partilha de
|             produção. <br /><br />
|             Foram realizados, pela ANP, três ciclos de Oferta Permanente com
|             contratos no modelo de concessão, nos anos de 2019, 2020 e, o mais
|             recente, em abril de 2022. <br /><br />
|             Uma resolução do Conselho Nacional de Política Energética (CNPE)
|             permitiu que os campos ou blocos no Polígono do Pré-sal ou em áreas
|             estratégicas possam ser licitados no sistema de Oferta Permanente
|             mediante determinação específica do CNPE, com definição dos
|             parâmetros a serem adotados para cada campo ou bloco. Em janeiro
|             deste ano, foi autorizou a licitação de 11 blocos no sistema de
|             Oferta Permanente de Partilha de Produção (OPP), sob o regime de
|             partilha de produção.
|             <br /><br />
|             Copyright 2022 - Grupo CMA Imagem: Divulgação <br /><br />
|           </p>
|           <div class="overlay-texto"></div>
|         </div>
|         <div class="w-full flex justify-center mt-12">
|           <button
|             id="btn-leia-mais"
|             class="w-48 text-center py-2 px-6 font-bold bg-orange text-white rounded xl:hover:bg-lightOrange mx-auto"
|           >
|             Leia mais
|           </button>
|         </div>
|       </div>
|       <form
|         class="generic-container border-orange border boredr-solid p-16 rounded"
|         action=""
|       >
|         <div>
|           <h2 class="mobile-title text-center mb-16">
|             Quer saber mais sobre investimentos
|           </h2>
|           <div class="lg:grid lg:grid-cols-2 lg:gap-8">
|             <div class="input-container">
|               <label for="" class="input-label">* Nome</label>
|               <input
|                 class="input-field"
|                 placeholder="Digite seu nome..."
|                 type="text"
|                 name=""
|                 id=""
|               />
|             </div>
|             <div class="input-container">
|               <label for="" class="input-label">* Email</label>
|               <input
|                 class="input-field"
|                 placeholder="Digite seu email..."
|                 type="text"
|                 name=""
|                 id=""
|               />
|             </div>
|             <div class="input-container">
|               <label for="" class="input-label">* Telefone</label>
|               <input
|                 class="input-field"
|                 placeholder="(99) 9 9999-9999"
|                 type="text"
|                 name=""
|                 id=""
|               />
|             </div>
|             <div class="input-container">
|               <label for="" class="input-label">* Investimento</label>
|               <select class="input-field" id="cars">
|                 <option value="null">Selecione</option>
|                 <option class="option-text" value="sem-dinheiro-disponivel">
|                   Não tenho dinheiro disponível
|                 </option>
|                 <option class="option-text" value="menos-de-50">
|                   Até R$: 50.000,00
|                 </option>
|                 <option class="option-text" value="menos-de-300">
|                   De R$: 50.000,00 a R$ 300.000,00
|                 </option>
|                 <option class="option-text" value="menos-de-1000">
|                   De R$: 300.000,00 a R$ 1.000.000,00
|                 </option>
|                 <option class="option-text" value="mais-de-1000">
|                   Mais de R$ 1.000.000,00
|                 </option>
|               </select>
|             </div>
|           </div>
|           <button
|             class="mt-24 mx-auto block bg-orange text-white py-4 px-8 font-bold rounded xl:hover:bg-lightOrange active:bg-orange"
|           >
|             Quero falar sobre investimentos
|           </button>
|         </div>
|       </form>
|       <div class="generic-container">
|         <h2 class="mb-24 line-after mobile-title">OUTRAS NOTÍCIAS</h2>
|         <ul class="noticias-desktop">
|           <li class="noticias-li">
|             <a href="#">
|               <figure class="noticias-figure">
|                 <img
|                   src="assets/img/noticia-pagina/noticia/noticia.jpg"
|                   alt="$descrição da imagem para deficientes visuais"
|                   class="noticias-img"
|                 />
|               </figure>
|               <p class="noticias-topico">AÇÕES</p>
|               <h2 class="noticias-title">$Título da notícia</h2>
|               <p class="noticias-text">
|                 $Descrição da notícia com uma limitação depara não ultrapassar 3
|                 e não ficar abaixo de duas linhas<span>...</span>
|               </p>
|             </a>
|           </li>
|           <li class="noticias-li">
|             <a href="#">
|               <figure class="noticias-figure">
|                 <img
|                   src="assets/img/noticia-pagina/noticia/noticia.jpg"
|                   alt="$descrição da imagem para deficientes visuais"
|                   class="noticias-img"
|                 />
|               </figure>
|               <p class="noticias-topico">AÇÕES</p>
|               <h2 class="noticias-title">$Título da notícia</h2>
|               <p class="noticias-text">
|                 $Descrição da notícia com uma limitação depara não ultrapassar 3
|                 e não ficar abaixo de duas linhas<span>...</span>
|               </p>
|             </a>
|           </li>
|           <li class="noticias-li">
|             <a href="#">
|               <figure class="noticias-figure">
|                 <img
|                   src="assets/img/noticia-pagina/noticia/noticia.jpg"
|                   alt="$descrição da imagem para deficientes visuais"
|                   class="noticias-img"
|                 />
|               </figure>
|               <p class="noticias-topico">AÇÕES</p>
|               <h2 class="noticias-title">$Título da notícia</h2>
|               <p class="noticias-text">
|                 $Descrição da notícia com uma limitação depara não ultrapassar 3
|                 e não ficar abaixo de duas linhas<span>...</span>
|               </p>
|             </a>
|           </li>
|           <li class="noticias-li">
|             <a href="#">
|               <figure class="noticias-figure">
|                 <img
|                   src="assets/img/noticia-pagina/noticia/noticia.jpg"
|                   alt="$descrição da imagem para deficientes visuais"
|                   class="noticias-img"
|                 />
|               </figure>
|               <p class="noticias-topico">AÇÕES</p>
|               <h2 class="noticias-title">$Título da notícia</h2>
|               <p class="noticias-text">
|                 $Descrição da notícia com uma limitação depara não ultrapassar 3
|                 e não ficar abaixo de duas linhas<span>...</span>
|               </p>
|             </a>
|           </li>
|           <li class="noticias-li">
|             <a href="#">
|               <figure class="noticias-figure">
|                 <img
|                   src="assets/img/noticia-pagina/noticia/noticia.jpg"
|                   alt="$descrição da imagem para deficientes visuais"
|                   class="noticias-img"
|                 />
|               </figure>
|               <p class="noticias-topico">AÇÕES</p>
|               <h2 class="noticias-title">$Título da notícia</h2>
|               <p class="noticias-text">
|                 $Descrição da notícia com uma limitação depara não ultrapassar 3
|                 e não ficar abaixo de duas linhas<span>...</span>
|               </p>
|             </a>
|           </li>
|           <li class="noticias-li">
|             <a href="#">
|               <figure class="noticias-figure">
|                 <img
|                   src="assets/img/noticia-pagina/noticia/noticia.jpg"
|                   alt="$descrição da imagem para deficientes visuais"
|                   class="noticias-img"
|                 />
|               </figure>
|               <p class="noticias-topico">AÇÕES</p>
|               <h2 class="noticias-title">$Título da notícia</h2>
|               <p class="noticias-text">
|                 $Descrição da notícia com uma limitação depara não ultrapassar 3
|                 e não ficar abaixo de duas linhas<span>...</span>
|               </p>
|             </a>
|           </li>
|         </ul>
|         <div class="center-container">
|           <a href="#" class="ver-mais">Ver mais...</a>
|         </div>
|       </div>
|     </div>
|     <div>
|       <div class="generic-container">
|         <h2 class="mb-24 line-after mobile-title">ÚLTIMAS NOTÍCIAS</h2>
|         <ul class="noticias">
|           <li class="noticias-li">
|             <a href="noticias-li">
|               <figure class="noticias-figure">
|                 <img
|                   src="assets/img/noticia-pagina/noticia/noticia.jpg"
|                   alt="$descrição da imagem para deficientes visuais"
|                   class="noticias-img"
|                 />
|               </figure>
|               <article>
|                 <p class="noticias-topico">AÇÕES</p>
|                 <h2 class="noticias-title">
|                   ANP aprova edital de oferta permanente de 11 blocos de pré-sal
|                 </h2>
|               </article>
|             </a>
|           </li>
|           <li class="noticias-li">
|             <a href="noticias-li">
|               <figure class="noticias-figure">
|                 <img
|                   src="assets/img/noticia-pagina/noticia/noticia.jpg"
|                   alt="$descrição da imagem para deficientes visuais"
|                   class="noticias-img"
|                 />
|               </figure>
|               <article>
|                 <p class="noticias-topico">AÇÕES</p>
|                 <h2 class="noticias-title">
|                   ANP aprova edital de oferta permanente de 11 blocos de pré-sal
|                 </h2>
|               </article>
|             </a>
|           </li>
|           <li class="noticias-li">
|             <a href="noticias-li">
|               <figure class="noticias-figure">
|                 <img
|                   src="assets/img/noticia-pagina/noticia/noticia.jpg"
|                   alt="$descrição da imagem para deficientes visuais"
|                   class="noticias-img"
|                 />
|               </figure>
|               <article>
|                 <p class="noticias-topico">AÇÕES</p>
|                 <h2 class="noticias-title">
|                   ANP aprova edital de oferta permanente de 11 blocos de pré-sal
|                 </h2>
|               </article>
|             </a>
|           </li>
|         </ul>
|         <div class="center-container">
|           <a href="#" class="ver-mais">Ver mais...</a>
|         </div>
|       </div>
|       <div class="generic-container">
|         <h2 class="mobile-title line-after mt-8">Fatos relevantes</h2>
|         <ul class="fatos mt-18">
|           <li class="fatos-li">
|             <a href="#" class="fatos-text">
|               FII MOGNO LG (MGLG) Fato Relevante - 02/05/2022
|             </a>
|           </li>
|           <li class="fatos-li">
|             <a href="#" class="fatos-text">
|               FII MOGNO LG (MGLG) Fato Relevante - 02/05/2022
|             </a>
|           </li>
|           <li class="fatos-li">
|             <a href="#" class="fatos-text">
|               FII MOGNO LG (MGLG) Fato Relevante - 02/05/2022
|             </a>
|           </li>
|         </ul>
|       </div>
|       <div class="generic-container">
|         <h2 class="mobile-title line-after">NOSSAS REDES</h2>
|         <div class="social-container justify-start">
|           <a href="#" class="social-media-a">
|             <img
|               src="assets/img/noticia-pagina/rede-social/twitter.svg"
|               alt="icone do Twitter"
|               class="social-media-img"
|             />
|           </a>
|           <a href="#" class="social-media-a">
|             <img
|               src="assets/img/noticia-pagina/rede-social/linkedin.svg"
|               alt="icone do linkedin"
|               class="social-media-img"
|             />
|           </a>
|           <a href="#" class="social-media-a">
|             <img
|               src="assets/img/noticia-pagina/rede-social/whatsapp.svg"
|               alt="icone do Whatsapp"
|               class="social-media-img"
|             />
|           </a>
|           <a href="#" class="social-media-a">
|             <img
|               src="assets/img/noticia-pagina/rede-social/facebook.svg"
|               alt="icone do facebook"
|               class="social-media-img"
|             />
|           </a>
|           <a href="#" class="social-media-a">
|             <img
|               src="assets/img/noticia-pagina/rede-social/mail.svg"
|               alt="icone de uma carta"
|               class="social-media-img"
|             />
|           </a>
|           <div class="lg:w-full sm:w-auto flex justify-center w-full">
|             <a href="#" class="imprimir-container">
|               <img
|                 class="imprimir-img"
|                 src="assets/img/noticia-pagina/rede-social/printing.svg"
|                 alt="icone de impressora"
|               />
|               <p class="imprimir-text">Imprimir</p>
|             </a>
|           </div>
|         </div>
|       </div>
|       <div
|         class="generic-container bg-orange w-full flex flex-col justify-between items-center rounded p-8 lg:p-16"
|       >
|         <p class="font-bold text-center text-semi text-white lg:text-base">
|           Receba nossos boletim
|         </p>
|         <div class="w-full flex flex-col my-8">
|           <input
|             class="input-boletim"
|             type="text"
|             name=""
|             placeholder="Digite seu nome..."
|           />
|           <input
|             class="input-boletim"
|             type="text"
|             name=""
|             placeholder="Digite seu email..."
|           />
|         </div>
|         <button
|           class="font-bold bg-white active:bg-white xl:hover:bg-grey text-base text-orange px-12 py-4 rounded"
|         >
|           Inscrever-se
|         </button>
|       </div>
|       <div class="w-full sm:h-150 h-100 banner-container">
|         <p class="font-bold">BANNER</p>
|       </div>
|     </div>
|   </div>
| </section>
