.menu {
  @apply z-20
  bg-orange
  fixed
  top-20
  left-0
  w-full
  h-37
  flex
  justify-between
  items-center
  sm:px-16
  xl:px-64
  2xl:px-68;

  .menu-logo {
    @apply w-63 h-20
    ml-8
    xl:ml-0;
  }

  .menu-toggle {
    @apply flex
    justify-center
    items-center
    h-36
    w-36
    xl:hidden;

    .bars {
      height: 3px;
      @apply duration-300
      relative
      w-17
      bg-white;

      &::after,
      &::before {
        height: 3px;
        content: "";
        @apply duration-300
        w-17
        bg-white
        absolute
        left-0;
      }

      &::after {
        @apply -top-5;
      }

      &::before {
        @apply top-5;
      }
    }
  }

  .menu-ul {
    height: calc(100vh - 74px);
    @apply duration-500
    w-40p
    absolute
    -left-full
    top-full
    bg-lightOrange
    xl:static
    xl:bg-transparent
    xl:flex
    xl:justify-end
    xl:left-0
    xl:h-37;

    .menu-li,
    .menu-li-drop {
      @apply duration-300
      flex
      justify-center
      items-center
      w-full
      font-bold
      h-35
      xl:w-auto
      xl:px-8;

      .menu-a {
        @apply flex
        justify-center
        items-center
        w-full
        h-full;
      }

      .menu-a,
      .text-drop {
        @apply text-white
        text-base
        font-bold
        xl:hover:text-black;
      }
    }

    .menu-li-drop {
      @apply relative;

      .text-dropdown {
        @apply flex items-center gap-4
        w-full h-full justify-center
        cursor-pointer;

        @media screen and (min-width: 1280px) {
          &:hover {
            .text-drop {
              @apply text-black;
            }

            figure {
              .down-icon {
                @apply fill-black;
              }
            }
          }
        }
      }

      .drop-ul {
        -ms-overflow-style: none;
        scrollbar-width: none;
        @apply absolute
        duration-300
        top-full
        left-1/2
        -translate-x-1/2
        bg-white
        w-100
        rounded
        h-0
        invisible
        overflow-y-auto
        border-solid border border-darkGrey;

        &::-webkit-scrollbar {
          display: none;
        }

        .drop-li {
          @apply border-solid border-grey border-b
          text-center
          h-20
          flex
          w-full
          justify-center
          items-center;

          .drop-a {
            @apply text-black
            font-bold
            text-base
            flex
            w-full
            h-full
            justify-center
            items-center
            xl:hover:bg-grey;
          }
        }
      }

      &.active {
        .drop-ul {
          @apply h-60
          visible
          overflow-y-hidden;
        }
      }
    }
  }
}

.menu.active {
  .menu-toggle {
    .bars {
      @apply bg-transparent;

      &::after {
        @apply rotate-45;
        top: 0;
      }

      &::before {
        @apply -rotate-45;
        top: 0;
      }
    }
  }

  .menu-ul {
    @apply left-0;
  }
}

.slider {
  width: 100%;
  @apply relative
  grid
  items-center
  overflow-hidden;

  .nav-noticias {
    animation: slidescroll 50s linear infinite;
    width: 3160px;
    @apply mt-61 
    pb-6 
    flex 
    items-center;

    .nav-noticias-li {
      width: 300px;
      @apply rounded bg-grey p-8 h-40 shrink-0 flex items-center mr-8;
    }
  }
}

@keyframes slidescroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-3160px);
  }
}
